html{
    font-size: 24px;
    scroll-behavior: smooth;
}
.india{
    list-style-position: inside;
}
.aus{
    list-style-position: inside;
}
.nz{
    list-style-position: inside;
}
.sa{
    list-style-position: inside;
}
.pak{
    list-style-position: inside;
}
.afg{
    list-style-position: inside;
}
.eng{
    list-style-position: inside;
}
.ban{
    list-style-position: inside;
}
.sl{
    list-style-position: inside;
}
.ned{
    list-style-position: inside;
}